<p id="notice"><%= notice %></p>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="row">
        <%= form_for @adminupload |f| %>

        <div class="field">
          Add an image....
          <%= f.file_field :image %>
        </div>

          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>
</div>
