<p id="notice"><%= notice %></p>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <div class="row">
        <% @products.each do |product| %>
          <%= render product %>
        <% end %>
      </div>
    </div>

</div>
