<p id="notice"><%= notice %></p>

    <div class="container">
      <div class="row">
        <% @products.each do |product| %>
           <%= render product, product: product,  order_item: @order_item%>
        <% end %>
      </div>

</div>
