<h1>Sign in</h1>
  <%= form_for(:user) do |f| %>
    <p class="input_paragraph"> Username: <%= f.text_field :username %></p>
    <p class="input_paragraph"> Password: <%= f.password_field :password %></p>
  <% end %>
 <p id="errors"> </p>
 <div class="actions">
   <button onclick="sign_in_user()"> Sign in! </button>
 </div>
</div>
